<!-- {{#if newPostForm}}
  <div>
    <form>
      <div class="form-control">
        <label for="title"></label>
          {{input value=title id="title"}}
      </div>
      <div class="form-control">
        <label for="post"></label>
          {{input value=title id="title"}}
      </div>
    </form>
  </div>
{{/if}} -->
